@model AuthDocument.Models.User;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form asp-controller="Access" asp-action="Login" method="post">
        <h1>Login</h1>
        <input type="email" placeholder="Email" asp-for="Email"/>
        <input type="password" placeholder="Password" asp-for="Password" />
        <button type="submit">Login</button>

        @if (ViewData["ValidateMessage"] != null)
        {
            <br />
            <br />
            <label>@ViewData["ValidateMessage"]</label>
        }
    </form>
    <br/>
    <label>Please </label>
    <a class="nav-link text-dark" asp-area="" asp-controller="Access" asp-action="Register">Register</a>
</body>
</html>
