@model AuthDocument.Models.User;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form asp-controller="Access" asp-action="Register" method="post">
        <h1>Register</h1>
        <input type="username" placeholder="Username" asp-for="Username" /><br /><br />
        <input type="password" placeholder="Password" asp-for="Password" /><br /><br />
        <input type="email" placeholder="Email" asp-for="Email" /><br /><br />
        <button type="submit">Save</button>

        @if (ViewData["ValidateMessage"] != null)
        {
            <br />
            <br />
            <label>@ViewData["ValidateMessage"]</label>
        }
    </form>
</body>
</html>
